@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Poppins', sans-serif;
}

body {
  font-size: 18px;
  max-width: 1440px;
}

header {
  background-color: hsl(193, 100%, 96%);
  padding: 50px 90px;
  background-image: url(./images/bg-hero-desktop.svg);
}

header .logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

header .logo button {
  background-color: #ffffff;
  border: none;
  padding: 10px 50px;
  color: hsl(192, 100%, 9%);
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 1px 1px 5px hsl(208, 11%, 55%);
}

.mockup {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.mockup .left h1 {
  color: hsl(192, 100%, 9%);
  line-height: 1.4;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.mockup .left p {
  color: hsl(192, 100%, 9%);
  line-height: 1.5;
  margin-bottom: 20px;
}

.mockup .right img {
  width: 100%;
  padding-left: 4rem;
}

.mockup button {
  background-color: hsl(322, 100%, 66%);
  padding: 10px 60px;
  border: none;
  border-radius: 20px;
  color: hsl(193, 100%, 96%);
  cursor: pointer;
}

.mockup button:hover {
  background-color: hsl(322, 91%, 75%);
}

.grow_together {
  margin-top: 7rem;
}

.split {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px hsl(208, 11%, 55%);
  margin-inline: 80px;
  margin-bottom: 30px;
  padding: 3rem 2rem 3rem 6rem;
  border-radius: 10px;
  gap: 180px;
}

.split h2 {
  color: hsl(192, 100%, 9%);
  margin-bottom: 15px;
}

.split p {
  color: hsl(208, 11%, 55%);
  line-height: 1.5;
}

.split img {
  width: 100%;
}

footer {
  background-color: hsl(192, 100%, 9%);
  position: relative;
  margin-top: 11rem;
  padding: 50px 90px;
}

footer .ready {
  width: 550px;
  height: 160px;
  box-shadow: 1px 1px 5px hsl(208, 11%, 55%);
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  bottom: 85%;
  z-index: 1;
  left: 30%;
}

footer .ready h2 {
  color: hsl(192, 100%, 9%);
  margin-bottom: 20px;
  text-align: center;
}

footer .ready button {
  background-color: hsl(322, 100%, 66%);
  box-shadow: 1px 1px 5px hsl(208, 11%, 55%);
  padding: 12px 90px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 100px;
}

footer .ready button:hover {
  background-color: hsl(322, 91%, 75%);
}

footer .logo {
  margin-top: 70px;
  margin-bottom: 20px;
}

footer .footer_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-size: 16px;
}

footer .footer_2 .location {
  padding-bottom: 20px;
}

footer .footer_2 .phone {
  padding-bottom: 20px;
}

footer .footer_2 .left span {
  padding-left: 15px;
}

footer .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .navbar ul li {
  list-style: none;
  padding-bottom: 15px;
}

footer .navbar ul li a:hover {
  border-bottom: 1px solid #ffffff;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer .navbar .nav-1 {
  padding-right: 6rem;
}

footer .socials ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-right: 50px;
}

footer .socials ul li {
  list-style: none;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 3px 4px 0px 4px;
}

footer .socials ul li :hover {
  color: hsl(322, 100%, 66%);
}

footer .socials ul li a {
  color: #ffffff;
}

footer .copyright {
  margin-top: 30px;
  color: #ffffff;
  text-align: right;
}



@media screen and (max-width: 700px) {

  header .logo button {
    /* padding: 10px 25px; */
  }

  header .mockup .left h1 {
    font-size: 30px;
  }

  header .mockup .left p {
    font-size: 16px;
  }

  header .right img {
    width: 100%;
  }

  header .mockup button {
    /* padding: 10px 25px; */
  }

  .split {
    padding: 10px 20px;
    gap: 5px;
  }

  .split img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {


  header {
    padding: 25px;
  }

  header .logo {
    gap: 40px;
  }

  header .logo img {
    width: 80%;
  }

  header .logo button {
    padding: 3px 20px;
    font-weight: 600;
  }

  header .mockup {
    flex-direction: column;
    text-align: center;
    background-image: url(./images/bg-hero-mobile.svg);
  }

  header .mockup h1 {
    margin-top: 30px;
  }

  header .mockup button {
    margin-bottom: 50px;
  }




  .split {
    flex-direction: column-reverse;
    padding: 50px 35px;
    text-align: center;
    font-size: 16px;
    margin: 50px 20px;
  }

  .split h2 {
    margin-block: 40px 20px;
  }

  .flowing_conversation {
    flex-direction: column;
  }


}



@media screen and (max-width: 400px) {
  
  header {
    padding: 25px;
  }

  header .logo {
    gap: 40px;
  }

  header .logo img {
    width: 80%;
  }

  header .logo button {
    padding: 3px 20px;
    font-weight: 600;
  }

  header .mockup {
    flex-direction: column;
    text-align: center;
    background-image: url(./images/bg-hero-mobile.svg);
  }

  header .mockup h1 {
    margin-top: 30px;
  }

  header .mockup button {
    margin-bottom: 50px;
  }

  .split {
    flex-direction: column-reverse;
    padding: 50px 35px;
    text-align: center;
    font-size: 16px;
    margin: 50px 20px;
  }

  .split h2 {
    margin-block: 40px 20px;
  }

  .flowing_conversation {
    flex-direction: column;
  }

  footer {
    padding: 20px;
    text-align: left;
  }

  footer .ready {
  }
}